
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    height: 100vh;
}

p, h1, h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 14px;
}

ul {
    padding: 0px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 45px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    background-color: #333333;
    margin-bottom: 16px;
    padding: 0px;
    border: 0px;
    border-radius: 10px;
    color: white;
}

img {
    height: 88px;
    width: 88px;
    border-radius: 50%;
}

#title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 4px;
}

#location {
    color: #C4F82A;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 24px;
    
}

#bio {
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 611px;
    background-color: #1F1F1F;
    margin-top: 0px;
    border-radius: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li:hover {
    background-color: #C4F82A;
    color: black;
    cursor: pointer;
}